<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
	
		<!-- Enables automatic mapping
			from classic database column names ("A_COLUMN")
			to camel case classic Java property names ("aColumn") -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		<!-- Globally enables lazy loading.
			All relations will be lazily loaded.
			This value can be superseded for an specific relation
			by using the fetchType attribute on it -->
		<setting name="lazyLoadingEnabled" value="true" />
		
		<!--
			When enabled, an object with lazy loaded properties
			will be loaded entirely
			upon a call to any of the lazy properties.
			Otherwise, each property is loaded on demand -->
		<setting name="aggressiveLazyLoading" value="false" />
		
		<!-- Sets the driver a hint
			as to control fetching size for return results.
			This parameter value can be override by a query setting -->
		<setting name="defaultFetchSize" value="100" />
		
	</settings>
</configuration>